.participant_basicInfo {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 86%;
}
.participant {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4px;
  width: 100%;
}
.participant_name {
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
.participant_age {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
.participant_skills {
  margin-top: -5px;
  position: relative;
}
.participant_skillsIcon {
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.participant_skillsNumber {
  position: absolute;
  font-size: 10px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  color: white;
  background-color: rgb(var(--color-secondary));
}
mat-card {
  padding: 8px;
}
ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 300px;
}
.skillItem {
  background-color: rgb(var(--color-primary));
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
}
