mat-card {
  padding: 4px 4px 4px 4px;
  display: flex;
  flex-direction: column;
}

mat-panel-description {
  display: flex;
  justify-content: flex-end;
}
.title {
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: start;
  max-width: calc(90dvw - 160px);
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}
.participants {
  display: flex;
  flex-direction: column;
}
.participants_title {
  color: gray;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.participants_list {
  margin: 0;
  margin-left: 18px;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 90dvw;
}
