<mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title
      ><span (click)="$event.stopPropagation()">
        <mat-checkbox
          [checked]="task.completed"
          (change)="changeTaskStatus(task.id, $event)"
        ></mat-checkbox
      ></span>
      <h2 class="title">{{ task.name }}</h2>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-divider></mat-divider>
  <section class="participants">
    <h2 class="participants_title">Participantes:</h2>
    <ul class="participants_list">
      <app-participant
        *ngFor="let person of task.persons"
        [person]="person"
      ></app-participant>
    </ul>
  </section>
</mat-expansion-panel>
