<h1>Lista de tareas</h1>
<div class="tasks_container">
  <section class="tasks_header">
    <nav>
      <ul>
        <li
          [ngClass]="{ selected_taskFilter: selectedFilter === 'ALL' }"
          (click)="selectFilter('ALL')"
        >
          Todas
        </li>
        <li
          [ngClass]="{ selected_taskFilter: selectedFilter === 'COMPLETED' }"
          (click)="selectFilter('COMPLETED')"
        >
          Completadas
        </li>
        <li
          [ngClass]="{ selected_taskFilter: selectedFilter === 'PENDING' }"
          (click)="selectFilter('PENDING')"
        >
          Pendientes
        </li>
      </ul>
    </nav>

    <section class="tasks_list">
      <mat-accordion>
        <ng-container *ngIf="tasks$ | async; let tasks">
          <app-task-item
            *ngFor="let task of tasks | filterTasks : selectedFilter"
            [task]="task"
          ></app-task-item>
        </ng-container>
      </mat-accordion>
    </section>
  </section>
  <div class="addTask_button">
    <button mat-fab color="primary" (click)="openCreateTaskModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
