<h1>Lista de tareas</h1>
<div class="tasks_container">
  <section class="tasks_header">
    <nav>
      <ul>
        <li
          [ngClass]="{
            filter: true,
            selected_taskFilter: selectedFilter === 'ALL'
          }"
          (click)="selectFilter('ALL')"
        >
          Todas
        </li>
        <li
          [ngClass]="{
            filter: true,
            selected_taskFilter: selectedFilter === 'COMPLETED'
          }"
          (click)="selectFilter('COMPLETED')"
        >
          Completadas
        </li>
        <li
          [ngClass]="{
            filter: true,
            selected_taskFilter: selectedFilter === 'PENDING'
          }"
          (click)="selectFilter('PENDING')"
        >
          Pendientes
        </li>
      </ul>
    </nav>

    <section class="tasks_list">
      <mat-accordion class="w-full">
        <ng-container *ngIf="tasks$ | async; let tasks">
          <app-task-item
            class="w-full"
            *ngFor="let task of tasks | filterTasks : selectedFilter"
            [task]="task"
          ></app-task-item>
          <div *ngIf="!(tasks | filterTasks : selectedFilter).length">
            <p class="emptyList">Lista vacía</p>
          </div>
        </ng-container>
      </mat-accordion>
    </section>
  </section>
  <div class="addTask_button">
    <button mat-fab color="primary" (click)="openCreateTaskModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
