html,
body {
  height: 100%;
}
:root {
  --color-primary: 63, 81, 181;
  --color-secondary: 255, 64, 129;
}
body {
  margin: 0;
  background-color: rgba(var(--color-primary), 0.1);
}
h1,
h2,
h3,
p,
span,
li,
button {
  font-family: "Poppins", sans-serif;
}
